  <ul class="posts">
  {% for row in posts %}
    <li>
        <a href="{{ url_for('movie', movie_id=row.post.movid) }}">{{ row.movTitle }}</a><br>
    	<b>{{ row.post.title }}</b>
    	by <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }}</a>
    	on {{ row.post.date }}
    	<a href="{{ url_for('like_post', postid=row.post.postid) }}">like</a><br>
        <i>Rating: {{ row.post.rating }}/5</i><br>
    	<i>Tags: {{ ", ".join(row.tags) }}</i><br>
        {{ row.post.text }}
    </li>
  {% else %}
      <li>There aren't any posts yet!</li>
  {% endfor %}
  </ul>